# --- CONFIGURATION BASE DE DONNÉES (MARIADB) ---
# Mot de passe root de la base de données (utilisé par le conteneur MariaDB)
DB_ROOT_PASSWORD=root

# Nom de la base de données à créer au démarrage
DB_NAME=rplacedb

# Utilisateur de la base de données pour l'application Spring Boot
DB_USER=user

# Mot de passe de l'utilisateur de la base de données
DB_PASSWORD=user

# URL de connexion JDBC pour l'application
# Note : 'database' correspond au nom du service dans le fichier docker-compose.yml
DB_URL=jdbc:mariadb://database:3306/rplacedb


# --- CONFIGURATION SÉCURITÉ (JWT) ---
# Clé secrète utilisée pour signer et valider les tokens JWT
# En production, utilisez une chaîne de caractères longue et aléatoire.
JWT_SECRET=votre_super_cle_secrete_genere_automatiquement_par_exemple

# Durée de validité du token JWT en millisecondes (ex: 86400000 ms = 24 heures)
JWT_EXPIRATION=86400000
